@charset "UTF-8";

// <--------all-------> //
.text-center {
  text-align: center!important;
}


// <--------top-------> //

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 480px;
  background-size: auto 100%;
  background: url(/images/top.jpg) center center;
}

.logo-title {
  font-family: 'Oswald', sans-serif;
  font-size: 94px;
  color: #fff;
  line-height: 1;
  letter-spacing: -2px;
}

.logo-desc {
  display: block;
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}


// <--------about-------> //

.text-secondary {
  color: #ecb807!important;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.icon-img {
  border-radius: 50%;
  width: 100%;
  height: 70%;
  padding: 20px;
}

.text-dark {
  color: #343a40!important;
}
